:root {
    --grid-multiplier: 1;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

video {
    background: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#my-video {
    position: fixed;
    border-radius: 8px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    height: 23%;
}

section {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    height: 75%;
}

section video {
    border-radius: 8px;
    width: calc((100% - 8px * var(--grid-multiplier)) / var(--grid-multiplier));
    height: calc((100% - 8px * var(--grid-multiplier)) / var(--grid-multiplier));
}
